<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993509417250-a9fqjmoi16jvl59ifv5jtenh6hlhd1ir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993509417250-a9fqjmoi16jvl59ifv5jtenh6hlhd1ir</string>
	<key>API_KEY</key>
	<string>AIzaSyDW0DaM7JsuWlbmp6Tz4K4invoVgXFSMmE</string>
	<key>GCM_SENDER_ID</key>
	<string>993509417250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mike.WorkoutApp</string>
	<key>PROJECT_ID</key>
	<string>workot-d2f2a</string>
	<key>STORAGE_BUCKET</key>
	<string>workot-d2f2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993509417250:ios:107d4020a784578b6b857b</string>
</dict>
</plist>